.hamburger-menu {
    position: relative;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 10px;
  }
  
  .hamburger-icon {
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hamburger-icon::before,
  .hamburger-icon::after,
  .hamburger-icon span {
    content: '';
    display: block;
    height: 4px;
    background-color: #333; 
    transition: all 0.3s ease-in-out;
  }
  

  .hamburger-icon.open::before {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger-icon.open::after {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .hamburger-icon.open span {
    opacity: 0;
  }
  
  .menu-items {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9; 
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 200px; 
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transform: translateX(150%); 
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }
  

  .menu-items.open {
    transform: translateX(0);
  }
  
  .menu-items li {
    margin-bottom: 10px;
  }
  
  .menu-items a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block; 
    padding: 5px;
  }
  
  .menu-items a:hover {
    background-color: #ddd;
  }
  

  @media (min-width: 768px) {
    .hamburger-menu {
      display: none;
    }
  }