.header {
    padding: 30px 120px;
}
.header__inner {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__link {
transition: opacity .4s;

}

.header__link:hover{
    opacity: .6;
    
}
.header__link:focus {
    border: 1px solid var(--main-black-);
    border-radius: 6px;

}
@media (max-width:960px){
    .header{
        padding: 30px 0px;
    }
}