.main__text {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.main__title {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    line-height: 58.32px;
    color: var(--main-black-);
    font-size: 60px;

}

.main__t {
    max-width: 575px;
}

.main__subtext {
    margin-top: 65px;
    color: var(--main-grey-);
    line-height: 37.44px;
    max-width: 575px;
    max-height: 359px;
    font-size: 32px;
}

.main__picture {
    display: flex;
    justify-content: space-between;
}

.main__software {
    margin-top: 156px;
    gap: 63px;
    max-width: 623px;
    max-height: 54px;
    display: flex;
    color: var(--main-black-);
    font-size: 18px;
}

.software {
    white-space: nowrap;
    font-weight: 600;
    text-decoration: underline;
}

.main__skils {
    margin-top: 118px;
    gap: 90px;
    max-width: 623px;
    max-height: 54px;
    display: flex;
    color: var(--main-black-);
    font-size: 18px;
}

.skils {
    max-width: 195px;
    white-space: nowrap;
    font-weight: 600;
    text-decoration: underline;
}

.main__contact {
    margin-top: 134px;
    border-top: 3px solid;
    border-color: var(--main-black-);
    max-height: 166px;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.contact__text {
    margin-top: 71px;
    max-width: 347px;
    max-height: 71px;
    font-size: 32px;
    line-height: 37.44px;


}

.contact__↓ {
    display: inline-block;


}

.contact__mail {
    margin-top: 71px;
    max-width: 347px;
    max-height: 71px;
    font-size: 32px;
    line-height: 37.44px;
    display: flex;
}

.contact__resume {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

@media (max-width:960px) {
    .main__title {
        font-size: 45px;

    }

    .main__subtext {
        font-size: 30px;
    }

}

@media (max-width:760px) {
    .main__text {
        text-align: center;
        margin: auto;
        flex-direction: column;
    }

    .main__t {
        margin: auto;
    }

    .main__title {
        margin: auto;
        font-size: 35px;
    }

    .main__subtext {
        font-size: 21px;
    }

    .main__picture {
        margin: 25px auto;
    }

    .contact__text {
        font-size: 22px;
    }

    .contact__mail {
        font-size: 22px;
    }

    .contact__resume {
        margin-right: 151px;
    }



}

@media (max-width:540px) {
    .contact__text {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__contact {
        white-space: nowrap;
        margin-bottom: 150px;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .contact__link {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .contact__↓ {
        transform: rotate(90deg);
        display: inline-block;
    }
}



@media (max-width:480px) {
    .header_inner {
        font-size: 12px;
    }

    .main__picture {
        margin: 110px auto 0px;
    }

    .main__skils {
        margin-top: 300px;
        gap: 90px;
    }

    .main__contact {
        margin-top: 300px;
    }

}

@media (max-width:390px) {
    .contact__↓ {
        width: 20px;
    }

    .header_inner {
        font-size: 12px;
    }

    .main__picture {
        margin: 110px auto 0px;
    }

    .main__skils {
        margin-top: 300px;
        gap: 90px;
    }

    .main__contact {
        margin-top: 300px;
    }

    .contact__text {
        font-size: 15px;
    }

    .contact__mail {
        font-size: 15px;
        font-weight: 600;
    }

    .contact__resume {
        margin-right: 118px;
        font-size: 12px;
    }


}